@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');



#root{
  margin: 0 auto;
 
}

html, body {
  margin:0;
  height: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.space-between{
  justify-content: space-between;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
  height: 100%;
}

.light{
  background-color: white;
}

.dark{
  background-color: #1c2022;
  color: #DADADA;;
}

.btn-clear{
  border:none;
  background: transparent;
  padding: 0;
  font-size: inherit;
}


.row{
  display: flex;
  flex-direction: row;
  padding: 0;
}


.nav li{
  list-style: none;
}

.nav-link{
  list-style: none;
  margin-right: 15px;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color:inherit;
}

.posts{
 padding: 0;
 padding-bottom: 40px;
}

.post{
  list-style: none;
  margin-bottom: 20px;
  
}

.meta-info-light{
  font-size: 1rem;
  color: gray;
  margin-bottom: 10px;
}

.meta-info-dark{
  font-size: 1rem;
  color: gray;
  margin-bottom: 10px;
}


.meta-info-light a button{
  font-size: 1rem;
  color: black;
  margin-bottom: 10px;
  text-decoration: underline;
  
}

.meta-info-dark a button{
  font-size: 1rem;
  color: #bebebe;
  margin-bottom: 10px;
  text-decoration: underline;
  
}

.post-info{
  font-size: 1rem;
  color: gray;
  margin-bottom: 10px;
}

.link-light{
  color: rgb(187, 46, 31);
  text-decoration:none;
  font-weight: 800;
}

.link-dark{
  color: rgb(203, 203, 203);
  text-decoration:none;
  font-weight: 800;
}



.commentPG-title{
  font-size: 2rem;
}

.comment-posts{

  margin: 0 auto;
  
}

.comments{
  padding: 0px;
  margin-bottom: 10rem;
 
}

.comment{
  list-style: none;
  margin-bottom: 20px;
  border-radius: 5px;
  background: rgba(128, 128, 128, 0.1411764705882353);
  padding: 10px;
}

.comment-author{
  margin-bottom: 10px;
}