@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');



#root{
  max-width: 1400px;
  margin: 0 auto;
}
html, body {
  margin:0;
  height: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.space-between{
  justify-content: space-between;
}


.btn-clear{
  border:none;
  background: transparent;
  font-size: 18px;
  font-weight: 400;
}


.row{
  display: flex;
  flex-direction: row;
  padding: 0;

}

.nav-link{
  list-style: none;

}

.posts{
 padding: 0;
}

.post{
  list-style: none;
  margin-bottom: 20px;
  color: gray;
}

.link{
  color: rgb(187, 46, 31);
  text-decoration:none;
}

.username{
  color:black;
}

.comments{
  color: black;
}