@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

html, body {
  margin:0;
  height: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.space-between{
  justify-content: space-between;
}

nav{
  padding: 3rem;
}
.btn-clear{
  border:none;
  background: transparent;
  font-size: 18px;
  font-weight: 400;
}

.row{
  display: flex;
  flex-direction: row;
}

.nav-link{
  list-style: none;
  margin-right: 10px;
}


